page-selfcheckout {

}
.menus_down{
    width: 78.96%;
    position: absolute;
    bottom: 49px;
    margin: 0 10.52% 14px;
}
.selfcheckout .title_content1{background:url("../../assets/imgs/fondo_formulario.png");}