page-bienvenido {
    font-family: HelveticaNeue;
}
#bienvenido_content {
    background: #EEEFAB;
}
.title3{font-size: 30px;font-weight: 600;margin-top: 25px;text-align: center;padding: 0 25px;display: block;}
.btn3{height: 107px;}
#bienvenido_content .boton_content{max-width: 80.7%;margin: 73px auto 41px;}
#bienvenido_content .button-full{height: 107px;}