page-calendario {

}
.txt3{font-size: 8px;font-weight: 400;text-transform: uppercase;}
.calendario_content{text-align: center;margin-top: 30px;margin-bottom: 50px;}
.calendario_img{max-width: 240px;display: inline-block;
}