page-selfcheckin {

}
.content_form2{position: relative;padding-top: 15px;}
.title_content1{height: 90px;widows: 100%;background: #EEEFAB;box-sizing: border-box;padding: 35px;text-align: center;}
.txt_content1{font-weight: 600;font-size: 23px;}
.fondo_palmera{position: absolute;top: 0;left: 0;z-index: -1;}
.content_form2 .content_stay{margin: 0  10.52% 14px;}
.content_form2 .applycode button{color: #fff;background-color: #000;}
.content_form2 .applycode button.activated{background-color: #343434 !important;}
.content_form2 .applycode{margin-top: 70px;margin-bottom: 80px;}
