<!-- Generated template for the BtnHeaderComponent component -->
<ion-grid class="grid-btns">
    <ion-row class="grid-btn-nav" justify-content-center align-items-center>
        <ion-col class="col-btn">
            <button text-uppercase color="color-negro-primary" ion-button small clear outline>Back to main menu</button>
        </ion-col>
        <ion-col class="col-btn">
            <button text-uppercase color="color-negro-primary" ion-button small clear outline>Stay options</button>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <h1 class="grid-title">{{titleComponent}}</h1>
    </ion-row>
</ion-grid>
